:root {
	--default-transition-duration: 300ms;
}


* {
	box-sizing: border-box;
}


h1 {
	font-size: 2.2rem;
	margin: 0;
	margin-bottom: 1rem;
	padding: 0;
}


h2 {
	font-size: 1.8rem;
	text-align: center;
	margin-bottom: 0;
}

h3 {
	font-size: 1.4rem;
	margin-top: 0;
}

body {
	background-color: hsla(60, 100%, 50%, 50%);
	font-family: Book Antiqua;
	font-size: 1.2rem;
	padding: 1em;
}


header {
	&>nav {
		&>#nav-home {
			background-color: coral;
			padding: 1rem;
			border-radius: 1rem;
			transition-duration: var(--default-transition-duration);


			text-decoration: none;
			color: black;
			position: absolute;
			right: .5rem;
			top: 1rem;

			&:hover {
				background-color: red;
			}
		}
	}
}

.final_look {
	width: 20%;
	height: auto;
	display: block;
	margin: auto;
}

input[type=number] {
	appearance: textfield;
	-moz-appearance: textfield;
	text-align: center;
	width: 50px;
	margin-bottom: 3%;
}

table {
	text-align: center;
	border-spacing: .50rem;
}

steps {
	line-height: 20px;
}

@media only screen and (max-width: 600px) {
	#overview-summary {
		width: 100%;
	}

	.image {
		position: initial;
		height: auto;
		width: auto;
	}

	.pagename {
		width: 100%;
	}

	.buttons {
		width: 100%;
	}
}