* {
	box-sizing: border-box;
	font-weight: bold;
}


h1 {
	font-size: 2rem;
}


h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.2rem;
}

body {
	background-color: hsla(60, 100%, 50%, 50%);
	font-family: Book Antiqua;
	padding: 1em;
}


.pagename {
	text-align: center;
	width: 60%;
}

.pagetitle {
	margin-bottom: 0;
}

.smalltext {
	font-size: 0.75em;
	margin-right: 5px;
}


.author {
	margin-bottom: 4rem;
}


.image {
	width: auto;
	height: 15rem;
	max-width: 35%;

	position: absolute;
	top: 0;
	right: 0;
}


#overview-summary {
	list-style-type: none;
	margin-bottom: 4rem;

	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 0.5rem;

	font-size: 1.3rem;
	font-weight: bold;
}

#buttons {
	text-align: center;
	width: 60%;
	margin-bottom: 2rem;
}


.ingredients {
	float: left;
	width: 35%;
}

.mainingredients {
	margin-bottom: 4rem;
}


.steps {
	float: right;
	width: 65%;
}

.stepstitle {
	text-align: center;
}

.steps1 {
	text-align: justify;
	line-height: 1.4; 
}

.steps2 {
	text-align: justify;
}

.steps3 {
	text-align: justify;
}

@media only screen and (max-width: 600px) {
	#overview-summary {
		width: 100%;
	}

	.image {
		position: initial;
		height: auto;
		width: auto;
		margin: 1rem;
	}

	.pagename {
		width: 100%;
	}

	.buttons {
		width: 100%;
	}
}